
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,900&display=swap');
/* font-family: 'Source Code Pro', monospace; */

body{
    font-family: 'Source Code Pro', monospace;
}

/* HEADER */

header{
    height: 7rem;
}

.logo{
    height: auto;
    max-width: 8rem;
    margin-top: -0.5rem;
}


.navElement{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #E18D01;
    font-weight: 400;
    padding-top: 1rem;
}

header a{
    text-decoration: none!important;
    display: flex!important;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
}

.flexH{
    display: flex;
    justify-content: center;
}

.colormargin{
    background-color: #456043;
    height: 0.8rem;
}




/* MAIN */
.main{
    min-height: 10rem!important;
}

h3{
    font-size: 1.75rem;
    color: #456043;
}

.padTop{
    padding-top: 1rem;
}

.padBot{
    padding-bottom: 1rem;
}

.quienSomos{
    width: 95%;
    border-radius: 100px;
}

p{
    text-align: justify;
    font-size: 1em;
}

.padR{
    padding-right: 2rem;
}

.padL{
    padding-left: 2rem;
}

/* ACTIVITIES */
.activities img{
    width: 100%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.activityW{
    padding-left: 18%!important;
    width: 80%!important;
    margin-left: 0%!important;
}

.moreInfo{
    max-width: 8.5rem;
    justify-self: end;
}

.activityImg{  
    opacity: 1;
    transition: 1s;
}

.activityImg:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.allCaps{
    text-transform: uppercase;
}

/* SOMOS SUYAS */
.subpagesh3{
    text-align: center;
    color: #994529;
    font-weight: 600;
}

.subpages{
    max-width: 60%!important;
}

.subpages img{
    max-width: 100%;
}

.masinfoh5{
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.center{
    margin-left: 19rem!important;
}

.text-right{
    text-align: right!important;
}

.text-left{
    text-align: left!important;
}

/* DONATIONS */
.backgroundDonation{
    width: 100%;
    padding-top: 1rem;
}

.backgroundDonationTwo{
    min-height: 20rem;
    background-color: #669141;
    color: white;
}

.donMargin{
    margin-left: 25%;
    margin-right: 25%;
}

.pagesBanner{
    border-radius: 25px 25px 0 0;
}

.spaceB{
    margin-bottom: 6rem;
    margin-top: 2rem;
}

.donatebox{
    height: auto;
    max-width: 240px;
    margin-left: 10%;
    margin-top: 2%;
}

.list{
    list-style: none;
}

.list a{
    text-decoration: none;
    color: #b7ff77;
    font-weight: 400;
}

.list a:hover{
    color: #112400;
}

/* A TU ALCANCE- TALLERES */

.justify{
    text-align: justify;
}



/* FOOTER */

.socialmedia{
    display: flex;
    color: #E18D01;
}

.socialmedia li{
    list-style: none;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.socialmedia a{
    color: #E18D01;
}

.logoFooter{
    max-width: 4rem;
    align-self: center;
}

ul{
    padding-left: 0!important;
}

.col-2{
    flex: 0 0 auto;
    width: 11%!important;
}

.right{
    text-align: right;
    justify-content: right;
}

.donate{
    max-width: 5rem;
    margin-top: 1rem;
}